<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body style="text-align: center">
    <h1 style="color: green"> Welcome! </h1>

  <nav>
      <a href="/addABook">Add a book</a><br>
      <a href="/getAllBooks">Get all the books</a><br>
      <a href="/getYourLibrary">Your library</a><br><br><br><br><br>
      <form action="/logout" method="post">
      <button type="submit">Logout</button>
  </nav>

  <p>Here is some content for your home page.</p>
</body>
</html>